aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.0
amqp==5.2.0
annotated-types==0.6.0
anyio==4.1.0
attrs==23.1.0
autopep8==2.0.2
billiard==4.2.0
blinker==1.6.2
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
dataclasses-json==0.6.3
distro==1.8.0
Flask==2.3.2
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
kombu==5.3.4
langchain==0.0.350
langchain-community==0.0.3
langchain-core==0.1.1
langsmith==0.0.70
Mako==1.3.0
MarkupSafe==2.1.3
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.2
openai==1.4.0
packaging==23.2
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycodestyle==2.10.0
pydantic==2.5.2
pydantic_core==2.14.5
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.23
tenacity==8.2.3
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
uWSGI==2.0.21
vine==5.1.0
wcwidth==0.2.12
Werkzeug==2.3.6
yarl==1.9.4
